# Do not change anything,
# If you change the information, the service will be stopped .
# See: https://antiddos.arabgs.com/Terms-of-Use-and-Privacy-Policy.html

# replace xx.xx.xx.xx To Your  IP from AGS Anti DDoS.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_listingIPOverride "xx.xx.xx.xx"
sets AGS "Anti DDoS"
